
<div class="containter">

    <div class="container">
        <div><h2>Items count</h2></div>
        <div><hr></div>

        <table  >
            <tr>
                <th>Board games</th>
                <th>Card games</th>
                <th>Computer games</th>
                <th>Jigsaw puzzles</th>
                <th>Video games</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td style="font-weight: bold;">5</td>
            </tr>
        </table>


       <!-- <div class="row ">
            
           <div class="col-2">Board games</div>
           <div class="col-2">Card games</div>
           <div class="col-3">Computer games</div>
           <div class="col-2">Jigsaw puzzles</div>
           <div class="col-2">Video games</div>
           <div class="col-2">Total</div>
        </div>

        <div class="row header">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
         </div> -->
    </div>

    
    <div style="margin: 30px; width: 70%">
        <button mat-button (click)="onBackToMain()" >Back to Main Menu</button>
    </div>
</div>


