<div class="form-control container format ">
    <div class="row ">
        <div class="col-sm-6  ">
            <!-- this column is for swap details information-->
            <div><h2>Swap Details</h2></div>
            <div><hr></div>
            <div class="row">
                <div class="col-4 header">Proposed</div>
                <div class="col-8">
                    <div (ngModel)= "proposed" name="proposed" id="proposed">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Accepted/Rejected</div>
                <div class="col-8">
                    <div (ngModel)= "acceptedRejected" name="acceptedRejected" id="acceptedRejected">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Status</div>
                <div class="col-8">
                    <div (ngModel)="status" name="status" id="status">sample data {{status}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">My Role</div>
                <div class="col-8">
                    <div (ngModel)= "myRole" name="myRole" id="myRole">sample data</div>
                </div>
            </div><div class="row">
                <div class="col-4 header">Rating left</div>
                <div class="col-8">
                    <div (ngModel)= "ratingLeft" name="ratingLeft" id="ratingLeft">sample data</div>
                </div>
            </div>
        </div>
        <div class="col ">
            <!-- this column is for user details information-->
            <div><h2>User Details</h2></div>
            <div><hr></div>
            <div class="row">
                <div class="col-4 header">Nickname</div>
                <div class="col-8">
                    <div (ngModel)= "Nickname" name="Nickname" id="Nickname">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Distance</div>
                <div class="col-8">
                    <div (ngModel)= "Distance" name="Distance" id="Distance">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Name</div>
                <div class="col-8">
                    <div (ngModel)= "Name" name="Name" id="Name">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Email</div>
                <div class="col-8">
                    <div (ngModel)= "Email" name="Email" id="Email">sample data</div>
                </div>
            </div><div class="row">
                <div class="col-4 header">Phone</div>
                <div class="col-8">
                    <div (ngModel)= "Phone" name="Phone" id="Phone">sample data</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 section">
            <!-- this column is for proposed item information-->
            <div><h2>Proposed item</h2></div>
            <div><hr></div>
            <div class="row">
                <div class="col-4 header">Item No</div>
                <div class="col-8">
                    <div (ngModel)= "itemNo" name="itemNo" id="itemNo">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Title</div>
                <div class="col-8">
                    <div (ngModel)= "title" name="title" id="title">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Game type</div>
                <div class="col-8">
                    <div (ngModel)= "gameType" name="gameType" id="gameType">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Condition</div>
                <div class="col-8">
                    <div (ngModel)= "condition" name="condition" id="condition">sample data</div>
                </div>
            </div><div class="row">
                <div class="col-4 header">Descriptiont</div>
                <div class="col-8">
                    <div (ngModel)= "description" name="description" id="description">sample data</div>
                </div>
            </div>
        </div>
        <div class="col section">
            <!-- this column is for Desired item information-->
            <div><h2>Desired item</h2></div>
            <div><hr></div>
            <div class="row">
                <div class="col-4 header">Item No</div>
                <div class="col-8">
                    <div (ngModel)= "desiredItemNo" name="desiredItemNo" id="desiredItemNo">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Title</div>
                <div class="col-8">
                    <div (ngModel)= "desiredTitle" name="desiredTitle" id="desiredTitle">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Game type</div>
                <div class="col-8">
                    <div (ngModel)= "desiredGameType" name="desiredGameType" id="desiredGameType">sample data</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 header">Condition</div>
                <div class="col-8">
                    <div (ngModel)= "desiredCondition" name="desiredCondition" id="desiredCondition">sample data</div>
                </div>
            
        </div>
    </div>
</div>

